* {
    font-size: 1rem;
}
body,html{
    margin: 0;
    background:  #9A805E!important;
    height: 100%;
}
nav {
        display: flex;
        flex-direction: row;
        background: #ffd633;
        padding: 10px;
    }
#content {
    padding: 20px;
    background: #6f75;
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    min-height: 100%;
}
.item {
    padding: 10px;
    margin: 3px;
    border-radius: 2px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    }
.item:hover {
    background-color:#B67007 ;
    }
.navimg {
    max-height: 100px;
}
img {
    max-width: 100%;
    display: block;
    border-radius: 7px;
    margin-bottom: 10px;
}
.figure {
    padding: 0;
}
body {
    background-color: #f8f9fa;
    font-family: 'Georgia', serif;
}
h1, h2, h3{
    margin: auto;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;           /* Optional: Tabelle nutzt die volle Breite aus */
    border: 1px solid #444;
}
th, td {
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: left;
}
.entry {
    display: flex;
    background-color: #558000;
    border-radius: 7px;
    text-decoration: none!important;
    color: inherit!important;
    margin: 10px;
    padding: 10px
}
.entry:hover {
    transform: scale(1.01);
}
.entrytext{
    margin: 10px;
    text-align: left;
}
.entrytext h3{
    text-align: left;
}

